<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{'webpagos.seg_accion.home.title'| translate}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;" translate="webpagos.adminModule"></a></li>
                    <li class="breadcrumb-item active">{{'webpagos.seg_accion.home.title'| translate}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'webpagos.seg_accion.home.title'| translate}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <h4 style="border-bottom: solid 1px;padding-bottom: 6px;">{{'webpagos.register' | translate}} -
                        {{'webpagos.seg_accion.home.title' | translate}}</h4>
                    <form class="col-sm-12" style="padding-top: 6px;">
                        <div class="form-group-sm row">
                            <label for="nombre" class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.seg_accion.nombre'
                                | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9">
                                <input type="text" [(ngModel)]="model.nombre" maxlength="255" name="nombre" id="nombre"
                                    name="nombre" class="form-control-sm col-sm-12 col-lg-6"
                                    placeholder="Ingrese nombre" />
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.nombre">{{ error.nombre
                                    }}</div>
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label for="descripcion"
                                class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.seg_accion.descripcion' |
                                translate}}</label>
                            <div class="col-sm-12 col-lg-9">
                                <input type="text" [(ngModel)]="model.descripcion" maxlength="255" name="descripcion"
                                    id="descripcion" name="descripcion" class="form-control-sm col-sm-12 col-lg-6"
                                    placeholder="Ingrese descripcion" />
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.descripcion">{{
                                    error.descripcion }}</div>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-sm-12" style="padding-top: 20px;">
                                <div class="row justify-content-center">
                                    <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                        <button class="btn btn-default col-12" (click)="getBack()">
                                            <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnBack' | translate }}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 20x;">
                                        <button class="btn btn-orange col-12" (click)="save()">
                                            <i [ngClass]="model.id ? 'fa fa-pen' : 'fa fa-plus'"></i> {{ model.id ?
                                            ('webpagos.btnEdit' | translate):('webpagos.btnSave' | translate) }}
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->