<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title
            th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
        
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link th:href="@{/jq/jquery-ui-1.10.4.custom.min.css}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}" />
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"   type="text/css">
        <link rel="stylesheet" th:href="@{/css/styles.css}"   type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/datatables/datatables.min.css" th:href="@{/datatables/datatables.min.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="#">DEINSOFT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/}">Comprobantes</a></li>
                        
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li sec:authorize="!isAuthenticated()"><a
                                class="btn btn-outline-primary" th:href="@{/login}">Iniciar sesión</a></li>

                        <li sec:authorize="isAuthenticated()" class="dropdown show">
                            <a class="btn btn-outline-primary dropdown-toggle" href="#"
                               role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>

                            <div class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuLink">
                                <form id="logoutForm" th:action="@{/logout}" method="post">
                                    <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Cerrar sesión</button>
                                    
                                </form>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="alert alert-success" th:if="${success != null}"
                 th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error != null}"
                 th:text="${error}"></div>
            <div class="alert alert-warning" th:if="${warning != null}"
                 th:text="${warning}"></div>
            <div class="alert alert-info" th:if="${info != null}"
                 th:text="${info}"></div>
        </header>
        <div class="container col-12" style = "height: 80%"></div>
        <footer th:fragment="footer" class="col-12">
            <hr />
            <p sec:authorize="isAuthenticated()">
                Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
                    sec:authentication="principal.authorities"></span>
            </p>
            <p>
                &copy; DEINSOFT 2022,
                Inc. Todos los derechos reservados. Términos de uso y privacidad.<br />
            </p>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Bootstrap JS -->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script th:src="@{/jq/jquery-1.10.2.min.js}" type="text/javascript"></script>
            <script th:src="@{/jq/jquery-ui-1.10.4.custom.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            
            
            
            <script type="text/javascript" th:src="@{/jq/jquery.dataTables.js}"></script>
            <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
            <script th:src="@{/js/bootstrap-datepicker.es.js}" charset="UTF-8"></script>
            <script th:src="@{/js/jquery.oLoader.min.js}" ></script>
            <script th:src="@{/js/util.js}" charset="UTF-8"></script>
        <script>
        </script>
        </footer>
        
    </body>
</html>