<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/layout :: head"></head>
    <body>

        <header th:replace="layout/layout :: header"></header>

        <div class="container py-4 col-12">

            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                    <form method="get" >
                        <div class = "row">
                            <div class="form-group col-xl-2 col-lg-2 col-sm-3 col-xs-3">
                                <label for="fechaIni">Desde</label>
                                <div class="input-group date">
                                    <span class="input-group-append bg-white border-right-0 input-icon">
                                        <span class="input-group-text bg-transparent">
                                            <i class="fa fa-calendar icon"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="fechaIni" class="form-control border-left-0" placeholder = "fecha inicial" autocomplete="off"/>

                                </div>
                                <!--                        <select id="birthplace" class="form-control select2-single" th:field="*{state}">
                                                            <option value="">Search state</option>
                                                        </select>-->
                            </div>
                            <div class="form-group col-xl-2 col-lg-2 col-sm-3 col-xs-3">
                                <label for="fechaFin">Hasta</label>
                                <div class="input-group date">
                                    <span class="input-group-append bg-white border-right-0 input-icon">
                                        <span class="input-group-text bg-transparent">
                                            <i class="fa fa-calendar icon"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="fechaFin" class="form-control border-left-0" placeholder = "fecha final" autocomplete="off" />

                                </div>
                                <!--                        <select id="birthplace" class="form-control select2-single" th:field="*{state}">
                                                            <option value="">Search state</option>
                                                        </select>-->
                            </div>
                            <div class="form-group col-xl-2 col-lg-2 col-sm-6" style = "margin-top:10px;text-align: center">
                                <a class="btn btn-primary btn-xs" onclick="search2();"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Buscar</a>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-sm-12" style = "margin-top:10px;text-align: center">
                                <div class = "row float-right">
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" 
                                       onclick="resumenDiario();" 
                                       class="btn btn-primary btn-xs" 
                                       style="max-width: 150px;white-space: normal;"
                                       title = "Generar y enviar Resumen Diario"><span class="btn-label"><i class="fa fa-file-zip-o"></i></span></a>
                                    
                                    <a class="btn btn-success btn-xs mx-1" 
                                       th:href="@{/factura/export/excel}" 
                                       title = "Exportar a Excel"><span class="btn-label"><i class="fa fa-file-excel-o"></i></span></a>
                                    
                                </div>

                            </div>
                        </div>

                    </form>
                    
                    <div class="table-responsive" id = "list"  th:fragment="lista">
                        <div class="alert alert-success" th:if="${success != null}"
                                th:text="${success}"  id = "errorMsg" ></div>
                         <div class="alert alert-danger" th:if="${error != null}"
                                th:text="${error}"  id = "errorMsg" ></div>
                           <div class="alert alert-warning" th:if="${warning != null}"
                                th:text="${warning}"></div>
                           <div class="alert alert-info" th:if="${info != null}"
                                th:text="${info}"></div>
                        <div style="display: none">
                            <div id="dlgConfirm" title="Confirmar">
                                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><div id="msgConfirm">shkjgyuty</div>
                            </div>
                        </div>
                        <table>
                            <tr>
                                    <td colspan="6" style="font-weight: bold;color: blue;">Total enviados: </td>
                                    <td style="font-weight: bold;color: blue;" th:text="${#lists.size(facturas.?[indSituacion == 'ACEPTADO'])}" />
                                    <td>&nbsp;&nbsp;</td>
                                    <td colspan="6" style="font-weight: bold;color: red;">Total No enviados: </td>
                                    <td style="font-weight: bold;color: red;" th:text="${#lists.size(facturas.?[indSituacion != 'ACEPTADO'])}" />
                                </tr>
                        </table>
                        <table id = "dtTable"  class="table table-striped table-bordered ">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>#</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')" >
                                    <!--<input type="checkbox" id="allRows" class = "allRows"
                                           style="text-align: center"  />-->
                                    </th>
                                    <th>Tipo</th>
                                    <th>Serie</th>
                                    <th>Nro. documento</th>
                                    <th>Fecha Emisión</th>
                                    <th>Cliente</th>
                                    <th>Monto</th>
                                    <th style = "max-width: 15%;">Situacion</th>
                                    <th>Estado</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableList">
                                <tr th:each="factura,iter : ${facturas}">
                                    <td th:text="${iter.count}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')" >
                                        <input type="checkbox" th:field="*{facturas}" 
                                               th:value="|${factura.id}|"
                                               class = "checkbox1"/></td>
                                    <td th:text="${factura.tipo}"></td>
                                    <td th:text="${factura.serie}"></td>
                                    <td style="text-align: right;" th:text="${factura.numero}"></td>
                                    <td style="text-align: center;" th:text="${factura.fechaEmision}"></td>
                                    <td th:text="${factura.clienteNombre}"></td>
                                    <td style="text-align: right;" th:text="${factura.totalValorVenta}"></td>
                                    <td th:text="${factura.indSituacion}"></td>
                                    <td th:text="${factura.estado}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs btn-icon"
                                                                                 title="Regenerar XML"
                                                                                 th:onclick="'javascript:genXML(' + ${factura.id} + ');'">
                                            <span class="btn-label"><i class="fa fa-file-text-o"></i></span></a>
                                        <a class="btn btn-primary btn-xs btn-icon"
                                           title="Enviar a SUNAT"
                                           th:onclick="'javascript:sendSUNAT(' + ${factura.id} + ');'">
                                            <span class="btn-label"><i class="fa fa-send-o"></i></span></a>
                                        <a class="btn btn-primary btn-xs btn-icon"
                                           onclick="return confirm('Está seguro que quiere realizar este proceso?');"
                                           title="Desargar PDF"
                                           th:onclick="'javascript:sendSUNAT(' + ${factura.id} + ');'" >
                                            <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span></a></td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                
                                <tr>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')" >
                                    <td colspan="6" style="text-align: right;font-weight: bold;">Total:</td>
                                    <td style="text-align: right;font-weight: bold;" th:text="${#numbers.formatDecimal(#aggregates.sum(facturas.![totalValorVenta])== null?0:#aggregates.sum(facturas.![totalValorVenta]),3,'COMMA',2,'POINT')}" />
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')" >
                                    <td colspan="6" style="text-align: right;font-weight: bold;">Total Anulado:</td>
                                    <td style="text-align: right;font-weight: bold;" th:text="${#numbers.formatDecimal(#aggregates.sum(facturas.?[estado == 'ANULADO'].![totalValorVenta])== null?0:#aggregates.sum(facturas.?[estado == 'ANULADO'].![totalValorVenta]),3,'COMMA',2,'POINT')}" />
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')" >
                                    <td colspan="6" style="text-align: right;font-weight: bold;">Total Activo:</td>
                                    <td style="text-align: right;font-weight: bold;" th:text="${#numbers.formatDecimal(#aggregates.sum(facturas.?[estado == 'ACTIVO'].![totalValorVenta]) == null?0:#aggregates.sum(facturas.?[estado == 'ACTIVO'].![totalValorVenta]),3,'COMMA',2,'POINT')}" />
                                    <td colspan="3"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>


                    <!--<nav th:replace="paginator-nav :: paginator"></nav>-->


                </div>
            </div>


        </div>
        
        <footer th:replace="layout/layout :: footer"></footer>
        <script>
            $(document).ready(function() {
                $("#dtTable").on("click", ".allRows", function(){  //on click 
                    if (this.checked) { // check select status
                        $('.checkbox1').each(function() { //loop through each checkbox
                            alert("wee");
                            this.checked = true;  //select all checkboxes with class "checkbox1"               
                        });
                    } else {
                        $('.checkbox1').each(function() { //loop through each checkbox
                            this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                        });
                    }
                });
                
                $('.input-group.date').datepicker({
                    autoclose: true,
                    language: 'es',
                    todayHighlight: true
                });
            });
            function search2() {
                var fechaIni = $("#fechaIni").val();
                var fechaFin = $("#fechaFin").val();
                if(fechaIni == "" || fechaFin == ""){
                    Swal.fire(
                        'Búsqueda',
                        'Debe ingresar los campos fecha inicial y final para hacer la búsqueda',
                        'error'
                      );
                    return;
                }
                $.ajax({
                    url: "/listar",
                    type: "get",
                    data: {
                        fechaIni: $("#fechaIni").val(),
                        fechaFin: $("#fechaFin").val()
                    },
                    beforeSend: function() {
                        $("#ajaxloader").show();
                    },
                    success: function (data) {
                        $("#list").replaceWith(data);
                        oDatatable();
                    }, error: function (request, error) {
                        $("#loading").hide();
                        alert("Ocurrió un error inesperado: " + error);
                    }
                });
            }
            function genXML(id) {
                callConfirmDialog("¿Está Seguro de realizar este proceso?", function() {
                    $.ajax({
                        url: "/factura/xml",
                        type: "POST",
                        data: {
                            idComprobante: id,
                            _csrf: $("[name='_csrf']").val()
                        },
                        success: function (data) {
                            $("#list").replaceWith(data);
                            oDatatable();
                        }, error: function (request, error) {
                            alert("Ocurrió un error inesperado: " + error);
                        }
                    });
                });
                
            }
            //alert(dt);
            if (typeof dt !== 'undefined') {
                dt.destroy();
            }
            function sendSUNAT(id) {
                callConfirmDialog("¿Está Seguro de realizar este proceso?", function() {
                    $.ajax({
                        url: "/factura/sunat",
                        type: "POST",
                        data: {
                            idComprobante: id,
                            _csrf: $("[name='_csrf']").val()
                        },
                        success: function (data) {
                            $("#list").replaceWith(data);
                            oDatatable();
                        }, error: function (request, error) {
                            alert("Ocurrió un error inesperado: " + error);
                        }
                    });
                });
                
            }
            //alert(dt);
            if (typeof dt !== 'undefined') {
                dt.destroy();
            }
            function resumenDiario(){
                callConfirmDialog("¿Está Seguro de realizar este proceso?", function() {
                   var json = $("#tableList input:checkbox:checked").map(function() {
                                                    return $(this).val();
                   }).get(); 
                   $.ajax({
                        url: "/resumendiario/send",
                        type: "POST",
                        data: {
                            idComprobantes: json.toString(),
                            _csrf: $("[name='_csrf']").val()
                        },
                        success: function (data) {
                            $("#list").replaceWith(data);
                            oDatatable();
                            
                        }, error: function (request, error) {
                            alert("Ocurrió un error inesperado: " + error);
                        }
                    });
                });
            }
            
        </script>
        <div id="loading"></div>
    </body>
    
</html>