
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Formulario de {{properties.title}}</h3>

                <div class="card-tools">
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse"
                    >
                        <i class="fa fa-minus"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove"
                    >
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <h4 style="border-bottom: solid 1px;padding-bottom: 6px;">{{'webpagos.register' | translate}} - {{properties.title}}</h4>
                    <form class="col-sm-12" style="padding-top: 6px;">
                        <!-- <div class="form-group-sm row">
                            <label for="name" class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.name' | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9"> <input type="text" [(ngModel)]="model.name" maxlength="255"
                                    name="name" id="name" name="name" class="form-control-sm col-sm-12 col-lg-6"
                                    placeholder="Ingrese nombre" />
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.name">{{ error.name }}</div>
                            </div>
                            
                        </div>
                        <div class="form-group-sm row">
                            <label for="address" class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.address' | translate}}</label>
                            <div class="col-sm-12 col-lg-9"> <input type="text" [(ngModel)]="model.address" maxlength="255"
                                    name="address" id="address" name="address" class="form-control-sm col-sm-12 col-lg-6"
                                    placeholder="Ingrese dirección" />
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.address">{{ error.address }}</div>
                            </div>
                            
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfCompany' | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9">
                                <select name="model.cnfCompany" [(ngModel)]="model.cnfCompany"
                                [compareWith]="compareCnfCompany"
                                    class="form-control-sm col-sm-12 col-lg-6">
                                    <option [ngValue]="selectDefaultCompany">{{selectDefaultCompany.name}}</option>
                                    <option *ngFor="let item of listCnfCompany; index as i;" [ngValue]="item">{{item.name}}
                                    </option>
        
                                </select>
                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?["cnfCompany.name"]:false'>{{ error["cnfCompany.name"] }}</div>
                            </div>
                            
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfCountry' | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9">
                                <select name="cnfCountry" [(ngModel)]="selectedCnfCountry"
                                [compareWith]="compareCnfCountry" (change)="loadCnfRegion(selectedCnfCountry)"
                                    class="form-control-sm col-sm-12 col-lg-6">
                                    <option [ngValue]="selectDefault">{{selectDefault.name}}</option>
                                    <option *ngFor="let item of listCnfCountry; index as i;" [ngValue]="item">{{item.name}}
                                    </option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfRegion' | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9">
                                <select name="cnfRegion" [(ngModel)]="selectedCnfRegion"
                                [compareWith]="compareCnfRegion" (change)="loadCnfProvince(selectedCnfRegion)"
                                    class="form-control-sm col-sm-12 col-lg-6">
                                    <option [ngValue]="selectDefault2">{{selectDefault2.name}}</option>
                                    <option *ngFor="let item of listCnfRegion; index as i;" [ngValue]="item">{{item.name}}
                                    </option>
        
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfProvince' | translate}} <span
                                    style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                            <div class="col-sm-12 col-lg-9">
                                <select name="cnfProvince" [(ngModel)]="selectedCnfProvince"
                                [compareWith]="compareCnfProvince" (change)="loadCnfDistrict(selectedCnfProvince)"
                                    class="form-control-sm col-sm-12 col-lg-6">
                                    <option [ngValue]="selectDefault3">{{selectDefault3.name}}</option>
                                    <option *ngFor="let item of listCnfProvince; index as i;" [ngValue]="item">{{item.name}}
                                    </option>
        
                                </select>
                            </div>
                            
                        </div> -->
                        <ng-container *ngFor="let item of properties.columnsForm; index as i ">
                            <div class="form-group-sm row">
                                <label class="col-lg-3 col-sm-12 col-form-label" translate="webpagos.{{item.tableName}}.{{item.columnName}}">...cargando 
                                    <span *ngIf="item.required" style="color: red;font-size: 16px !important;font-weight: bold;"> *</span>
                                </label>  
                                
                                    <div class="col-sm-12 col-lg-9"> 
                                        <ng-container *ngIf="item.type != 'hidden' && (item.type == 'input' || item.type == 'password')" >
                                            <input type="{{item.type}}" maxlength="255"
                                                name="{{item.tableName}}.{{item.columnName}}" 
                                                id="{{item.tableName}}.{{item.columnName}}"  
                                                class="form-control-sm col-sm-12 col-lg-6"
                                                value="{{item.value}}" />
                                            <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?[item.columnName]:false'>{{ error[item.columnName] }}</div>
                                        </ng-container>
                                        <ng-container *ngIf="item.type != 'hidden' && item.type == 'select'" >
                                            <select name="{{item.tableName}}.{{item.load?item.load.loadBy:item.relatedBy}}" id="{{item.tableName}}.{{item.load?item.load.loadBy:item.relatedBy}}"  
                                            (change)="load(item,i)" class="form-control-sm col-sm-12 col-lg-6">
                                                    <ng-container *ngFor="let columnas of item.listData; index as u;">
                                                        <option [selected]="(this.properties.id?(item.value == columnas[0]): (columnas[0]==0))" value="{{columnas[0]}}" >{{columnas[1]}} </option>
                                                    </ng-container>
                                                
                                                    
                                                    
                                                    <!-- <option *ngIf="item.tableName == item2[2]" >{{item[1]}} </option> -->
                                                <!-- <option *ngFor="let item of listLists[i]; index as o;" >{{item[1]}} </option> -->
                                                
                
                                            </select>
                                                <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?[item.load?item.load.loadBy:item.relatedBy]:false'>{{ error[item.load?item.load.loadBy:item.relatedBy] }}</div>
                                            
                                        </ng-container>
                                        <ng-container *ngIf="item.type != 'hidden' && item.type == 'date'">
                                            <div class="input-group input-group-sm">
                                                <input placeholder="dd/mm/yyyy" 
                                                class="form-control-sm-dp col-xs-10 col-sm-10 col-lg-5"
                                                name="{{item.tableName}}.{{item.columnName}}" 
                                                id="{{item.tableName}}.{{item.columnName}}" value="{{item.value}}" maxlength="200" 
                                                ngbDatepicker #d="ngbDatepicker" >
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar button-dp"
                                                        (click)="d.toggle()" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </div>
                    
                                            </div>
                                        </ng-container>
                                        
                                    </div>
                                
                            </div>
                        </ng-container>
                        <div class="form-group-sm row" *ngIf="id">
                            <ng-container *ngFor="let itemChild of properties.childTables">
                                <label class="col-xl-3 col-lg-3 col-sm-12 col-form-label" translate="webpagos.{{properties.tableName}}.{{itemChild.tableName}}">...Cargando <span
                                        style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
            
                                <div class="col-sm-12 col-lg-9">
                                    <div *ngIf="itemChild.listData && itemChild.listData.length > 0? false:true">
                                        {{'webpagos.noRows' | translate }}
                                    </div>
                                    <div *ngIf="itemChild.listData && itemChild.listData.length > 0?true:false">
                                        <table id="dtData"
                                            class="col-xl-12 col-lg-12 col-sm-12 table table-sm table-striped table-bordered table-td-valign-middle">
                                            <thead>
                                                <tr>
                                                    <th width="1%">Nro.</th>
                                                    <th *ngFor="let item of itemChild.columnsForm" class="text-nowrap" translate="webpagos.{{item.tableName}}.{{item.columnName}}">...cargando</th>
                                                    <th width="1%" class="text-nowrap">{{'webpagos.actionsText' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
            
                                                <tr *ngFor="let item of itemChild.listData; index as i" class="odd gradeX">
                                                    <td width="1%" class="f-w-600 text-inverse">{{i+1}}</td>
                                                    <ng-container *ngFor="let itemDetail of item; index as i2">
                                                        <td *ngIf="i2 > 0" [ngClass]="itemChild.columnsForm[i2-1].type =='number'? 'content-number' : ''">{{itemDetail}}</td>
                                                    </ng-container>
                                                    <td>
                                                        <div class="row row2">
                                                            <div class="col-sm-12 col-xs-12 text-center"><a 
                                                                 (click) = "deleteChild(itemChild.tableNameDetail,item[0])"   style="cursor: pointer;" title="Cambiar estado"><i
                                                                        class="fa fa-trash fa-lg"></i></a></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <a style="color: blue;text-decoration: underline;cursor: pointer;"
                                            (click)="addChild(itemChild.tableName)" >Añadir </a>
                                    </div>
                                </div>
                            </ng-container>
                            
                            
        
                        </div>
                        <div class="form-group row">
        
                            <div class="col-sm-12" style="padding-top: 20px;">
                                <div class="row justify-content-center">
                                    <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                        <a class="btn btn-default col-12" (click)="back()" data-toggle="modal">
                                            <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnBack' | translate }}
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 20x;">
                                        <a class="btn btn-primary col-12" (click)="save()">
                                            <i [ngClass]="id ? 'fa fa-pen' : 'fa fa-plus'"></i> {{ id ?
                                            ('webpagos.btnEdit' | translate):('webpagos.btnSave' | translate) }}
                                            </a>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->